<html>
    <head>
        <%- include("head.ejs") %>
    </head>
    <body>
        <%- include("navbar.ejs") %>
        <h1>Add a New Board Member</h1>
        <form method="POST">
                <label for="email" class="form-label">Board Member's email address</label>
                <input type="email" class="form-control" name="email" id="email" placeholder="name@example.com">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
    </body>
</html>