<html>
    <head>
        <%- include("head.ejs") %>
    </head>
    <body>
        <%- include("navbar.ejs") %>
        <h1>Add a New Tutor</h1>
        <form method="POST">
            <div class="mb-3">
                <label for="tutorEmail" class="form-label">Tutor's email address</label>
                <input type="email" class="form-control" name="new-tutor-email" id="new-tutor-email" placeholder="name@example.com" required>
            </div>
            <div class="mb-3">
                <label for="new-tutor-graduation-year" class="form-label">Tutor's graduation year</label>
                <input type="text" class="form-control" name="tutor-graduation-year" id="new-tutor-graduation-year" required>
                <script>
                    document.getElementById("new-tutor-graduation-year").min = new Date().getFullYear();
                    document.getElementById("new-tutor-graduation-year").placeholder = new Date().getFullYear();
                </script>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
    </body>
</html>