<html>
    <head>
        <%- include("head.ejs") %>
    </head>
    <body class="d-flex flex-column min-vh-100">
        <%- include("navbar.ejs") %>
        <main class="mt-4">
            <div id="sessionContainer" class="row mx-auto w-80 justify-content-center" style="max-width: 1500px">
                <div class="col-md-10 col-12 mb-4">
                    <div id="formContainer" class="card mb-3">
                        <h5 class="card-header">Add a Tutor</h5>
                        <div class="card-body">
                            <form method="POST">
                                <div class="form-group mb-3">
                                    <label for="tutorEmail" class="form-label" >Tutor's email address</label>
                                    <input type="email" class="form-control" name="tutor-email" id="tutor-email" placeholder="name@example.com" required>
                                </div>
                                <button type="submit" id="submit" onclick="userConfirm()" class="btn btn-primary mb-3">Add Tutor</button>
                                <script>
                                    function userConfirm(){
                                        if(document.querySelector("#tutor-email").value != ""){
                                            var r = confirm("Are you sure you want to add a new tutor with email \"" + document.querySelector("#tutor-email").value + "\"?");
                                        }
                                    }
                                </script>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <%- include("footer.ejs") %>
    </body>
</html>