<html>
    <head>
        <%- include("head.ejs") %>
    </head>
    <body>
        <%- include("navbar.ejs") %>
        <h1><%= `Error ${code}` %></h1>
        <h2><%= description %></h2>
    </body>
</html>