<footer class="footer py-2 bg-light">
    <div class="text-center container">
      <p>Have feedback for us? Fill out this <a target="_blank" rel="noopener noreferrer" href="https://docs.google.com/forms/d/e/1FAIpQLSflRKPuBgzGSU_mV8xVClUsnlSxE8xP-0iABrkCI_ejQL-1Sw/viewform?usp=sf_link">form</a>.</p>
    </div>
  </footer>