<html>
    <head>
        <link href="/css/main.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <%- include("navbar.ejs") %>
        <h1>Index!</h1>
        <script src="/js/index.js"></script>
    </body>
</html>