<head>
    <%- include("head.ejs") %>
</head>
<nav class= "navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <!--
            Logo
        -->
        <a class="navbar-brand" href="/#">
            <img src="./img/merrytutorlogo.png" alt="" width="81" height="57">
        </a> 
        
        <ul class="nav">
            <!--
                Links
            -->
            <li class="nav-item">
                <a class="nav-link" href="/summary/new">Submit a Session</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/tutee/<%= typeof user == "object" ? user._id : ""%>">View Session Summary</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/login">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/login">Sign Up</a>
            </li>
        </ul>
        <!--
            Tutee Search Form
        -->
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search for a Tutee">
            <button class="btn btn-primary mb-2" type="submit">Search</button> <!-- why is this not going inline with the search box????-->
        </form>
    </div>
</nav>