<head>
</head>
<nav class= "navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <!--
            Logo
        -->
        <a class="navbar-brand" href="/#">
            <img src="/img/merrytutorlogo.png" alt="" width="81" height="57">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <!--
                Links
            -->
            <ul class="navbar-nav">
                <% if (typeof user == "object" && user.roles.includes("tutor")) {%>
                    <li class="nav-item">
                        <a class="nav-link" href="/summary/new">Submit a Session</a>
                    </li>
                    <% if (typeof user == "object" && user.roles.includes("board")) {%>
                        <li class="nav-item">
                            <a class="nav-link"href="/board/allsummaries" >All Summaries</a>
                        </li>
                        <li class="nav-item">
                            <a href="/board/addtutor" class="nav-link">Add Tutor</a>
                        </li>
                        <li class="nav-item">
                            <a href="/board/removetutor" class="nav-link">Remove Tutor</a>
                        </li>
                        <li class="nav-item">
                            <a href="/board/addboard" class="nav-link">Add Board</a>
                        </li>
                    <% } %>
                <% } %>
                <% if (typeof user == "object" && (user.roles.includes("tutee"))) {%>
                    <li class="nav-item">
                       <a class="nav-link" href="/tutee/<%= typeof user == "object" ? user._id : ""%>">My Session Summaries</a>
                    </li>
                <% } %>
                <% if (typeof user == "object" && user.roles.includes("parent")) {%>
                    <li class="nav-item">
                        <a class="nav-link"href="/parent/mytuteesummaries" >My Tutee Summaries</a>
                    </li>
                <% } %>
                <% if (typeof user != "object") {%>
                    <li class="nav-item">
                        <a class="nav-link" href="/login">Log in or Sign Up</a>
                    </li>
                <% } else {%>
                    <li class="nav-item">
                        <a class="nav-link" href="/auth/logout" >Log Out</a>
                    </li>
                <% } %>
            </ul>
            <% if (typeof user == "object" && user.roles.includes("tutor")) {%>
            <form class="form-inline my-2 my-lg-0">
                <div class="input-group">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search for a Tutee">
                    <div class="input-group-append">
                        <button class="btn btn-secondary" type="submit">Search</button>
                    </div>
                </div>
            </form>
            <% } %>
        </div>
    </div>
</nav>