<link href="/css/navbar.css" rel="stylesheet" type="text/css"/>
<nav class= "navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">
                <img src="/img/merrytutorlogo.png" alt="" width="81" height="57">
            </a>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <% if (typeof user == "object" && user.roles.includes("tutor")) {%>
                    <li class="nav-item">
                        <a class="nav-link" href="/summary/new">Submit a Session</a>
                    </li>
                <% } %>
                <% if (typeof user == "object" && (user.roles.includes("tutee"))) {%>
                    <li class="nav-item">
                        <a class="nav-link" href="/tutee/<%= typeof user == "object" ? user._id : ""%>">My Session Summaries</a>
                    </li>
                <% } %>
                <% if (typeof user == "object" && user.roles.includes("parent")) {%>
                    <li class="nav-item">
                        <a class="nav-link"href="/parent/mytuteesummaries" >My Tutee Summaries</a>
                    </li>
                <% } %>
                <% if (typeof user == "object" && user.roles.includes("board")) {%>
                    <li class="nav-item">
                        <a class="nav-link"href="/board/allsummaries" >All Summaries</a>
                    </li>
                <% } %>
            </ul>
            <div class="d-flex justify-content-center">
                <% if (typeof user == "object" && user.roles.includes("tutor")) {%>
                <div id="tutee-search-container" class="autocomplete">
                    <input autocomplete="off" id="tutee-search" class="form-control tutee-auto" placeholder="Search For a Tutee">
                </div>
                <% } %>
                <div class="mx-2">
                    <% if (typeof user != "object") {%>
                        <a class="btn btn-outline-light" href="/login">Sign Up/Login</a>
                    <% } else {%>
                        <div class="dropdown">
                            <button class="btn btn-outline-light dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="bi bi-person-lines-fill"></i>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-end">
                                <li><a class="dropdown-item" href="/profile">My Profile</a></li>
                                <% if (typeof user == "object" && user.roles.includes("board")) {%>
                                    <li><a class="dropdown-item" href="/board/addtutor" >Add Tutor</a></li>
                                    <li><a class="dropdown-item" href="/board/managetutor" >Manage Tutor</a></li>
                                    <li><a class="dropdown-item" href="/export/sessiondata">Download Session Data</a></li>
                                    <li><a class="dropdown-item" href="/export/userdata">Download User Data</a></li>
                                <% } %>
                                <li><hr class="dropdown-divider"></li>
                                <li>
                                    <div class="d-flex justify-content-center">
                                        <a class="btn btn-outline-danger btn-sm mx-3 w-75" href="/auth/logout">Log Out</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    <% } %>
                </div>
            </div>
        </div>
        <script src="/js/autocomplete.js"></script>
    </div>
</nav>