<html>
    <head>
        <%- include("head.ejs") %>
    </head>
    <body>
        <%- include("navbar.ejs") %>
        <h1>Add a New Tutor</h1>
        <form action="POST">
            <div class="mb-3">
                <label for="new-tutor-first-name" class="form-label">Tutor's first name</label>
                <input type="text" class="form-control" name="new-tutor-first-name" id="new-tutor-first-name" placeholder="Mary">
            </div>
            <div class="mb-3">
                <label for="new-tutor-last-name" class="form-label">Tutor's last name</label>
                <input type="text" class="form-control" name="new-tutor-last-name" id="new-tutor-last-name" placeholder="Tudor">
            </div>
            <div class="mb-3">
                <label for="tutorEmail" class="form-label">Tutor's email address</label>
                <input type="email" class="form-control" name="new-tutor-email" id="new-tutor-email" placeholder="name@example.com">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
    </body>
</html>