<html>
    <head>        
    </head>
    <body>
        <h1>Merry Tutor Session Summary</h1>
        <form>
            <label for="tutor-fname">Tutor First Name:</label><br>
            <input type="text" ide = "tutor-fname" name ="tutor-fname"><br>
            <label for="tutor-lname">Tutor Last Name:</label><br>
            <input type="text" ide = "tutor-lname" name ="tutor-lname"><br>
            <!--
                tutor id*
                tutee id*
                shadowing tutor id 
                tutee grade level for current school year - string
                is the tutee from the alive center - radio yes/no
                session date (dropdown or radio boxes)* - date
                parent email* - string
                is the tutee new to the MT?* - radio y/n
                    
                what they learned - long string
                what they should work on at home - long string
                what they should work on during the next session - long string
            -->
        </form>
    </body>
</html>