@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');


#login-container {
    height: calc(100vh - 83px); /* navbar is 83px */
    width: 100vw;
    margin: 0;
    padding: 0;
    display:flex;
    justify-content: center;
    align-items: center;
}
/* Box that contains each login card */
#slider-box {
    border: 1px solid var(--mt-gold);
    border-radius: 10px;
    padding: 10px;
    max-height: 575px;
    height: 100%;
    max-width: 448px;
    width: 100%;
}
#slider-box hr {
    color: var(--mt-gray);
}
#slider-box > div {
    height: 100%;
    text-align: center;
}
/* styling for all login cards */
.login-text {
    padding: 5px 0 0 0;
}
.login-text h2 {
    color: var(--mt-red);
}
.login-text h1 {
    color: var(--mt-black);
}
.signin-opts {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    padding: 25px 0;
}
.signin-opts > * {
    margin-bottom: 15px;
}
.signin-opts > button {
    background: var(--mt-orange-white);
    color: var(--mt-red);
    font-size: 24px;
    border: 1px solid var(--mt-red);
    padding: 5px;
    border-radius: 5px;
}
/* Google Login Button */

#google-login {
    border: 1px solid transparent;
    background: #fff;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    border-radius: 2px;
    padding: 0;
    position: relative;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .24), 0 0 1px 0 rgba(0, 0, 0, .24);
    display: inline-flex;
    align-items: center;
}
#google-login:hover {
    opacity: 0.9;
    cursor: pointer;
}
#google-login:focus {
    cursor: pointer;
    background: #eee;
    opacity: 1;
}
#google-login svg {
    padding: 10px;
    margin-right: 10px;
    height: 18px;
}
#google-login svg, #google-login svg::after, #google-login svg::before {
    box-sizing: unset;
}
#google-login span {
    padding: 10px 10px 10px 0px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.54)
}