#tutee-search {
    position: relative;
}
#tutee-search-container {
    width: 180px;
}
.autocomplete-items {
    position: absolute;
    width: 180px;
}

/*when hovering an item:*/
.autocomplete-items div:hover {
background-color: #b46673; 
}

/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
background-color: rgb(255, 255, 255); 
color: #7e2e3c; 
}