#tutee-auto {
    position: relative;
}
#tutee-search-container {
    width: 180px;
}
.autocomplete-items {
    position: absolute;
    width: 180px;
}


/*when hovering an item:*/
.autocomplete-items div {
    cursor: pointer; 
}
.autocomplete-items div:hover,.autocomplete-active  {
    background: #d1d1d1
}